@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

$border-weight: 3px;

body{
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 20pt;
}

h1{
    margin: 3vh 0;
    font-size: 40pt;
}

button{
    margin-top: 20px;
    padding: 2px 0;
    width: 300px;
    background-color: white;
}

input{
    margin-top: 20px;
}
#gameboard{
    display: grid;
    grid-template-columns: 15vw 15vw 15vw;
    grid-template-rows: 15vw 15vw 15vw;
    justify-content: center;
}

#gameboard > div{
    //border: 1px solid black;
    font-size: 10vw;
}

#s1 {
    border-right: $border-weight solid black;
    border-bottom: $border-weight solid black;
}
#s2 {
    border-right: $border-weight solid black;
    border-left: $border-weight solid black;
    border-bottom: $border-weight solid black;
}
#s3 {
    border-left: $border-weight solid black;
    border-bottom: $border-weight solid black;
}
#s4 {
    border-top: $border-weight solid black;
    border-right: $border-weight solid black;
    border-bottom: $border-weight solid black;
}
#s5 {
    border: $border-weight solid black;
}
#s6 {
    border-left: $border-weight solid black;
    border-bottom: $border-weight solid black;
    border-top: $border-weight solid black;
}
#s7 {
    border-right: $border-weight solid black;
    border-top: $border-weight solid black;
}
#s8 {
    border-left: $border-weight solid black;
    border-right: $border-weight solid black;
    border-top: $border-weight solid black;
}
#s9{
    border-left: $border-weight solid black;
    border-top: $border-weight solid black;
}

#players{
    display: flex;
    justify-content: space-around;
}

#game-sign-out{
    position: absolute;
    bottom: 65px;
    right: 10px;
}

#new-game{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.disclaimer{
    font-family: serif;
    font-size: 15pt;
    color: red;
    background-color: lightgrey;
    border: 2px solid red;
    margin: 0 10vh;
}
#github-link{
    position: absolute;
    bottom: 10px;
    right: 48%;
    width: 50px;
}

@media only screen and (min-width:974px){
    #gameboard{
        grid-template-columns: 146px 146px 146px;
        grid-template-rows: 146px 146px 146px;
    }
    #gameboard > div{
        font-size: 73pt;
    }
}